@page "/xemblog/{id:int}"
@model CS_58_TichHop_EntityFramework.Pages_Blog.DetailsModel

@{
    ViewData["Title"] = @Model.Article.Title;
}

<h1>@Model.Article.Title</h1>
<p> <i>@Html.DisplayFor(model => model.Article.Created)</i></p>

<div>
    <h4>Bài viết</h4>
    <hr />
    @* @Html.DisplayFor(model => model.Article.Content) *@

    @Html.Raw(Model.Article.Content)
</div>

<hr>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Article.Id">Chỉnh sửa</a> |
    <a asp-page="./Index">Danh sách bài viết</a>
</div>
